* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main_container {
    width: 100%;
    height: 100vh;
    background: rgb(41, 65, 157);
    background: linear-gradient(90deg, rgba(41, 65, 157, 1) 0%, rgba(0, 0, 224, 1) 26%, rgba(191, 44, 171, 1) 56%);
    opacity: 0.9;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
}

 #crypto_logo{
    width: 100px;
    height:60px;
    border-radius: 50%;
    margin-left: 20px;
}